body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;


    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;

    border-radius: 10%;

    margin-bottom: 12px;
}

button {
    background-color: #3882f6;
    border-color: #e5e7eb;
    color: #e5e7eb;
    font-size: 24px;
    
    padding: 4px 8px;

    border-style: solid;
    border-radius: 25px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1em;

    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;

}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero {
    background-color: #1F2937;
    color: #e5e7eb;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left {
    margin: 24px;
    max-width: 400px;
}

.left .title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.left .text {
    margin: 12px 0;
}

.right {
    padding: 60px;
    margin: 24px;
    background-color: grey;
}

.information {
    display: flex;
    flex-wrap: wrap;

    text-align: center;

    margin: 24px;
}

.infotitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;

    margin-top: 36px;
}

.card {
    display: flex;
    flex-direction: column;

    width: 200px;

    margin: 12px;
}

.dark {
    background-color: #e5e7eb;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;

    padding: 1em;
}

.quote {
    display: flex;
    flex-direction: column;

    margin: 24px;

    max-width: 750px;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.source {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    align-self: flex-end;
    margin: 24px 48px 0;
}

.signup {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;

    background-color: #3882f6;
    color: #e5e7eb;

    padding: 24px 48px;
    margin: 24px;

    border-radius: 25px;
}

.title {
    font-weight: bold;
    font-size: 24px;
}